body,
html {
    margin: 0;
    padding: 0;
    /* deixe elementos um do lado do outro*/
    display: flex;
    /* separa os elementos por colunas*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
    color: #ddd;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;

}

img {
    width: 300px;
    height: 300px;

}

.description {
    width: 300px;

}

h2 {
    margin-bottom: 5px;

}

.duration {
    width: 300px;
    margin-top: 25px;

}

.bar {
    width: 300px;
    height: 6px;
    border: 1px #eee solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /*colocar elementos a esquerda*/
    justify-content: flex-start;



}

progress {
    height: 6px;
    width: 0;
    background-color: #333;
}

.point {
    background-color: #eee;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -10px;
}

.time {
    display: flex;
    width: 300px;
    /*distancia elementos*/
    justify-content: space-between;
}

.player {
    width: 300px;
    display: flex;
    /*separa um pouco os elementos*/
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;

}

.botao-play,
.botao-pause {
    font-size: 50px;
    cursor: pointer;
}

.setas {
    font-size: 40px;
    cursor: pointer;
}

.botao-pause {
    display: none;
}